.vscode/**
tests/**
.vscode-test/**
src/**
.gitignore
.eslintrc.json
eslint.config.mjs
tsconfig.jest.json
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
README.md
images/**
!images/fish-lsp-logo.png
*.tgz
*.vsix
eslint.config.mjs
extensions.json
./publish
.env.fish
test.fish
.yarnrc
